<%- include('./partials/header.ejs')   %>
  <body>
    <%- include('./partials/navbar.ejs')   %>
    <main>
      <section class="sec-main">
        <h1>TECH GIANTS ELECTRONICS SHOP</h1>
        <h2>One Stop Shop For All Computers and Electronics</h2>
        
      </section>
      <section id="sec">
        <div class="container">
          <div class="table-container">
            <table class="table table-bordered caption-top">
              <caption>Customers</caption>
              <thead>
                <tr>
                  <th scope="col"> ID</th>
                  <th scope="col">Identification</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Middle Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">DOB</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Address</th>
                  <th scope="col">City</th>
                  <th scope="col">Country</th>
                  <th scope="col">Zip Code</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>01</td>
                  <td>id</td>
                  <td>Sam</td>
                  <td>L</td>
                  <td>Jackson</td>
                  <td>1994-23-09</td>
                  <td>sam@mail.com</td>
                  <td>191-222-2333</td>
                  <td>111 Earth St</td>
                  <td>Waterloo</td>
                  <td>Canada</td>
                  <td>N2P 9G1</td>
                </tr>
                <tr>
                  <td>01</td>
                  <td>id</td>
                  <td>Sam</td>
                  <td>L</td>
                  <td>Jackson</td>
                  <td>1994-23-09</td>
                  <td>sam@mail.com</td>
                  <td>191-222-2333</td>
                  <td>111 Earth St</td>
                  <td>Waterloo</td>
                  <td>Canada</td>
                  <td>N2P 9G1</td>
                </tr>
                <tr>
                  <td>01</td>
                  <td>id</td>
                  <td>Sam</td>
                  <td>L</td>
                  <td>Jackson</td>
                  <td>1994-23-09</td>
                  <td>sam@mail.com</td>
                  <td>191-222-2333</td>
                  <td>111 Earth St</td>
                  <td>Waterloo</td>
                  <td>Canada</td>
                  <td>N2P 9G1</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-container">
            <table class="table table-bordered caption-top">
              <caption>List of Products</caption>
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Category</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>DELL XPS</td>
                  <td>Laptop</td>
                  <td>$2049.99</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Lenovo Legion</td>
                  <td>Laptop</td>
                  <td>$909.99</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Macbook Pro 2023</td>
                  <td>Laptop</td>
                  <td>$2009.99</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-container">
            <table class="table table-bordered caption-top">
              <caption>Inventory</caption>
              <thead>
                <tr>
                  <th scope="col">Product ID</th>
                  <th scope="col">Quantity</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>34</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>12</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-container">
            <table class="table table-bordered caption-top">
              <caption>Order Items</caption>
              <thead>
                <tr>
                  <th scope="col">Item ID</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total Price</th>
                  <th scope="col">Product ID</th>
                  <th scope="col">Order Header ID</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>01</td>
                  <td>2</td>
                  <td>300.99</td>
                  <td>2</td>
                  <td>001</td>
                </tr>
                <tr>
                  <td>02</td>
                  <td>1</td>
                  <td>890.99</td>
                  <td>1</td>
                  <td>002</td>
                </tr>
                <tr>
                  <td>03</td>
                  <td>1</td>
                  <td>110.99</td>
                  <td>1</td>
                  <td>002</td>
                </tr>
              </tbody>
            </table>
          </div>
          
          <!-- <div class="content">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text ever
              since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book
            </p>
          </div> -->
        </div>
      </section>
    </main>
    <%- include('./partials/footer.ejs')   %>
  </body>
</html>